/**公共的头部css/根据业务而定**/
@charset "utf-8";

.cm-top { background: #333; height: 32px;  }
.cm-center { width: 1200px; margin: 0 auto; }
.cm-header { background: #fff; }

.subtops { background: url("../../../img/common/subhead_bg.jpg") no-repeat; height: 155px; }
.subtops .subtop { width: 1200px; margin: 0 auto; }
.subtops .subtop .logo { background: url("../../../img/common/logo.gif") no-repeat left center; height: 54px; width: 300px; padding-top: 100px; }
.subtops .subtop .subtopinfo { width: 600px; }
.subtops .subtop .subtopinfo .topnav { margin-top: 15px; height: 30px;padding-right:80px;line-height:28px; text-align:right; background: url("../../../img/common/link_bg.png") no-repeat right center; }
.subtops .subtop .subtopinfo .topnav a { font-size: 12px; color: #000; }
.subtops .subtop .subtopinfo .topnav .line { font-size: 12px; margin: 0 10px; }
.subtops .subtop .subtopinfo .search { background: url(../../../img/common/search.jpg) no-repeat; height: 31px; margin-left: 193px; position: relative; }
.subtops .subtop .subtopinfo .search .searchkey { }
.subtops .subtop .subtopinfo .search .searchkey input { height: 28px; padding-left: 8px; width: 265px; outline: none; border: none; background: none; line-height: 28px; margin-top: 1px; }
.subtops .subtop .subtopinfo .search .searchlink a { position: absolute; top: 0; left: 270px; height: 31px; width: 60px; cursor: pointer; }
.navs { background: url(../../../img/common/nav_bg.jpg) repeat-x; height: 54px; }
.navs .nav { width: 1200px; margin: 0 auto; }
.navs .nav ul { width: 1100px; margin: 0 auto; }
.navs .nav ul li { width: 120px; position: relative;z-index: 10; }
.navs .nav ul li a { color: #3c80b3; font-size: 16px; }
.navs .nav ul li.navpic { padding-left: 34px; float: left; line-height: 54px; }

.navs .nav ul li.pic1 { background: url("../../../img/common/nav_pic1.png") no-repeat left center; }
.navs .nav ul li.pic2 { background: url("../../../img/common/nav_pic2.png") no-repeat left center; }
.navs .nav ul li.pic3 { background: url("../../../img/common/nav_pic3.png") no-repeat left center; }
.navs .nav ul li.pic4 { background: url("../../../img/common/nav_pic4.png") no-repeat left center; }
.navs .nav ul li.pic5 { background: url("../../../img/common/nav_pic5.png") no-repeat left center; }
.navs .nav ul li.pic6 { background: url("../../../img/common/nav_pic6.png") no-repeat left center; }
.navs .nav ul li.pic7 { background: url("../../../img/common/nav_pic7.png") no-repeat left center; }
.navs .nav ul li.pic8 { background: url("../../../img/common/nav_pic8.png") no-repeat left center; }


.navs .nav ul li .sub {z-index: 10;position: absolute; top: 54px; left: 0; background: #f3f3f3; padding: 20px 20px 20px; float: left; -moz-border-radius-bottomright: 5px; -khtml-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -khtml-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; display: none; border-left: 1px solid #06ACEF; border-top: 1px solid #06ACEF; border-right: 1px solid #06ACEF; border-bottom: 1px solid #06ACEF; }

.navs .nav ul li .sub ul { width: 140px; }
.navs .nav ul li .sub li { padding: 0px; line-height: 30px; }
.navs .nav ul li .sub li:hover { background: none; }
.navs .nav ul li .sub li a { padding: 0px; height: 30px; line-height: 30px; font-size: 14px; }
.navs .nav ul li .sub li a:hover { background: none; color: #06ACEF; }


.menus .more { background: url("../../../img/common/navbg.png") no-repeat center right; padding-left: 10px; }
.menus li { position: relative; z-index: 999; }
.menus li:hover { background: #06ACEF; }
.menus li .sub { z-index: 999; position: absolute; top: 46px; left: 0; background: #f3f3f3; padding: 20px 20px 20px; float: left; -moz-border-radius-bottomright: 5px; -khtml-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -khtml-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; display: none; border-left: 1px solid #06ACEF; border-right: 1px solid #06ACEF; border-bottom: 1px solid #06ACEF; }
.menus li .sub .arrowtop { position: absolute; top: -7px; left: -10px; width: 150px; background: url("../../../img/common/arrow-top.png") no-repeat center top; }
.menus li .sub ul { list-style: none; margin: 0; padding: 0; width: 140px; float: left; }
.cm-header .nav .menus .menu .sub a { float: none; text-indent: 0; height: auto; display: block; text-decoration: none; color: #333; }
.cm-header .nav .menus .menu .sub a:hover { color: #fff; }
