.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../images/loading.gif' )  no-repeat center center; 
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}